body{
    background-color: rgb(67, 39, 4);
    background-size: cover;
    background-attachment: fixed;
}
nav{
    height: 170px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgb(139, 121, 121);
    background-size: cover;
    background-attachment: fixed;
}
article{
    height: 900px;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
}
.title{
    text-align: center;
    text-decoration: underline;
    font-size: 28px;
    }
/* Home page style*/
.Paragraph{
    height:250px;
    width: 60%;
    margin:  30px auto;
    padding:25px;
    /* white-space: nowrap; */
    overflow-x: scroll;
    overflow-y: scroll;
    border-radius: 15px;
    border: 3px solid black;
    background:linear-gradient(blue,lightblue )
}

/*Article page style*/

table{
    width:80%;
    border-spacing: 3px;
    margin: auto;
}
table tr:nth-child(3){
    background-color: gray;
}
th ,td{
    border:2px solid black;
    padding:15px;
    text-align: center;
}
td,ul{
list-style-position: inside;
}
table tr:nth-child(3){
    background-color: gray;
}

th{
    background-color: bisque;
    color: black;
}
img{
    width: 60px;
    height: 60px;
}

/* Gallary Page Style*/



.Images  {
    position: relative;
    width: 800px;
    height: 350px;
    margin: 50px auto;
}
 
.img {
    position: absolute;
    width: 350px;
    height: 200px;
    cursor: pointer;
    /* transform-origin: center; */
    transition: transform 0.4s ease, z-index 2s;
}
 
.img1 {
    top: 20px;
    left: 50px;
    z-index: 1;
}
 
.img2 {
    top: 60px;
    left: 180px;
    z-index: 2;
}
 
.img3 {
    top: 100px;
    left: 300px;
    z-index: 3;
}
 

.img:hover{
    transform: scale(1.5)
    rotate(-30deg);
    z-index:10;
}
 
/*Contact page style*/


.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:60px;
    min-height: 50vh;
    padding: 40px;
}

.contact-left a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
  }
  
.contact-left a:hover {
    text-decoration: underline;
  }

  .Contact-right {
    margin-top: 15%;
    border: 3px solid black;
    width: 40%;
    border-radius: 5px;
    background-color: rgb(185, 157, 157);
    
  }

  form {
    display: flex;
    flex-direction: column;
  }
  .Contact-right label{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;

  }

 
  input, textarea {
    padding: 8px;
    margin-top: 15px;
    width: 70%;
    margin-left:12% ;
    border: 2px solid #ccc;
    border-radius: 7px;
    font-size: 14px; 
  }

  textarea {
    height: 80px;
    overflow-x: scroll;
    overflow-y: scroll;
  }

  button{
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left:30% ;
        border: 2px solid #1d1a1a;
        background-color: rgb(75, 47, 47);
        border-radius: 7px;
        width: 40%;
        color: white;       
  }
  button:hover {
    background-color: darkviolet;
  }    
  
  /* video style page*/

  .video-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  iframe{
    width: 600px;
    height: 215px;
    border-radius:10px
  }

  /*Register Page*/

  
.form-container {
    display: flex;
    justify-content: center;
    padding: 16px;
    background:white; 
  }
  
  .form-box {
    width: 360px;              
    border: 1.5px solid #b8b8b8;
    border-radius: 4px;
    padding: 16px;             
    background: #9a9393;          
  }
  
  .form-box , legend {
    margin: 0 auto;            
    padding: 0 10px;           
    font-size: 18px;
    font-weight: 600;
    color: #222;
    background: #ffffff; 
  }  

.employee-form label {
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    margin-top: 7px;
    margin-left: 10%;
}

.employee-form input{
    width: 250px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 20px;
    border: 1px solid #333;
    background: linear-gradient( #8a91cd, #bed7ed);
    color: rgb(5, 4, 4);
    height: 5%;
}
.employee-form button {
    width: 200px;
    padding: 10px;
    margin-top: 7px;
    margin-left: 20%;
    border-radius: 20px;
    border: 1px solid #333;
    background: linear-gradient( #000428, #004e92);
    color: rgb(250, 250, 250);
    height: 5%;
}


.employee-form input::placeholder {
    color: #0b0a0a;
}

.employee-form button:hover {
    background-color: darkviolet;
  }    
  


footer{
    height:100px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: gray;
}
nav a{
    text-shadow: 2px 2px 0px skyblue;
    border-radius: 100px 100px 0 0;
    border-width: 10px 50px 10px 50px;
    border-style: dashed ridge dashed groove;
    border-color: rgb(53, 53, 73);
    font-size: 24px;
    background-color: rgb(53, 53, 73);
    color: white;
}